@font-face {
    font-family: 'bnazanin';
    src: url('../fonts/B-NAZANIN.TTF');
}
body{
    font-family: 'bnazanin';
}
@media (min-width:992px) {
    #search{
        width: 200px;
        transition: all .3s !important;
    }
    #search:focus{
        width: 250px;
    }
}
@media (max-width:991px) {
    #sec1top{
        margin-top: 100px;
    }
    #sec1bottom{
        margin-top: -50px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #sec1bottom{
        margin-top: 80px;
    }
}
